venv/
.env
.git/
.gitignore
__pycache__/
*.pyc
*.pyo
.DS_Store
media/
staticfiles/
db.sqlite3
*.md
*.pdf
community/static/img/*.jpg
community/static/img/*.jpeg
community/static/img/*.png
community/static/img/*.gif
community/static/scss/
community/static/node_modules/
