{% extends 'community/base.html' %}

{% block content %}
{% load static %}
<div class="container-xxl py-5">
    <div class="container px-lg-5">
        <div class="section-title position-relative text-center mb-5 pb-2 wow fadeInUp" data-wow-delay="0.1s">
            <h2 class="mt-2">Code of Conduct</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <p>Participants are expected to contribute to an environment that is open, welcoming, considerate and respectful. We require that all attendees, delegates, speakers, volunteers, sponsors, organisers and participants have an enjoyable experience during all Aru Tech Community events. All attendees are expected to show respect and courtesy to one another throughout all events. This includes social events whether officially sponsored by Aru Tech Community or not.</p>

                <h4 class="mt-5 mb-3">Communication</h4>
                <p>All communication should be appropriate for a general audience, which will include people from many different religions, cultures and nations. Sexual language and imagery are not welcome. Please be thoughtful when making jokes or discussing sensitive topics or issues that are likely to have strong personal effects on some people. If in doubt, ask or simply moderate your expression.</p>

                <h4 class="mt-5 mb-3">Harassment</h4>
                <p>Harassment can include any unwelcomed behaviour directed to another person. Aru Tech Community will not tolerate behaviour that are:</p>
                <ul>
                    <li>Harassment in any form, or language</li>
                    <li>Sexist, racist or exclusionary</li>
                    <li>Intimidating or threatening</li>
                    <li>Insulting or unpleasant</li>
                </ul>

                <h4 class="mt-5 mb-3">Report a misconduct</h4>
                <p>If you are troubled by the conduct of another attendee at the event, or are concerned that another attendee may be in distress, please speak immediately to any member of the secretariat. Your concern will be heard in confidence and taken seriously. Any concern, whatever it is, will be immediately investigated promptly and if necessary appropriate action will be taken. This could include:</p>
                <ul>
                    <li>Asking the violator of the CoC to leave the event immediately</li>
                    <li>Reporting the incident to relevant authorities</li>
                </ul>
                <p>To ensure transparency, we will publish a report after the event, containing an anonymised report of the incidents that violated the CoC. Report any incident to <a href="mailto:secretariat@pycon.or.tz">secretariat@pycon.or.tz</a>. Thank you for helping to make Aru Tech Community a welcoming and friendly community for all.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
